@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 1200px;
    margin: auto;
}
.nav-bar{
   padding-top: 30px;
   display: flex;
   justify-content: space-between;
   padding-bottom: 30px;
   align-items: center;
   
}
.nav-bar p{
    font-size: 18px;
}
.nav-bar-color{
    background-color:antiquewhite;
}
.icon-cls{
    display: flex;
    gap: 5px;
}
.fa-house{
    color: rgb(255, 64, 0);
}
.main-manu ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
}
.nav-bar button{
    padding: 10px 15px;
    background-color: rgb(255, 98, 0);
    border: none;
    border-radius: 5px;
    color: white;
}
.card-sect{
    background-color: antiquewhite;
}
.card-display{
    display: flex;
    justify-content: space-around;
}
.fast-img img{
    border-radius: 8px;
    margin-top: 30px;
    height: 300px;
    width: 250px;
}
.second-img img{
    border-radius: 8px;
    margin-top: 70px;
    height: 300px;
    width: 250px;
}
.home-where{
    margin-top: 60px;
}
.home-where h1{
    font-size: 60px;
}
.home-where p{
    color: #898888;
    margin-top: 30px;
    margin-bottom:90px;
}

.search-container{
    display: flex;
    align-items: center;
   justify-content: space-between;
   padding-bottom: 100px;
   

}

.search-property{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
   
}

.search-field{
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.search-field input{
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
}

.search-field img{
    height: 20px;
}

.btn{
    padding: 10px 15px;
    background-color: rgb(241, 107, 62);
    border: none;
    border-radius: 5px;
    color: white;
}
.mouse-btn{
    text-align: center;

}
.mouse-btn p{
    color: #898888;
    font-size: 15px;
}
.fa-computer-mouse{
    font-size: 25px;
    color: #898888;
}
.mid-sect{
    background-color: rgb(101, 46, 219);
}
.devide-sect{
    display: flex;
    padding-top: 150px;
    justify-content: space-between;
    padding-bottom: 60px;
}
.font-sect{
    font-size: 26px;
    color: wheat;
}
.paragraph-sect{
    color: wheat;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.wow-img-cls img{
    height: 30px;
    width: 40px;
    border-radius: 50%;
}
.wow-img-cls{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.wow-img-cls h2{
    font-size: 30px;
    color: wheat;
}
.wow-cls-peragraph{
    color: wheat;
    font-size: 13px;
}
.wow-cls{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.main-div-emoji-sect{
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}
.Providing-div{
    display: flex;
    justify-content: space-between;
    margin-top: 170px;
    margin-bottom: 100px;
}
.ceo-profile{
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    box-shadow:5px 5px rgba(0, 0, 0, 0.076);

}
.ceo-profile img{
    height: 70px;
    width: 80px;
    border-radius: 50%;
    padding-top: 10px;
}
.ceo-position{
    margin-top: 150px;
    margin-left: -250px;
    box-shadow: black;
}
.Providing-img{
    display: flex;
}
.Providing-img img{
    height: 450px;
    width: 500px;
    border-radius: 10px;
}
.Providing-h1-cls p{
    color: #898888;
    margin-top: 20px;
    margin-bottom: 40px;
}
.button{
    padding: 10px 15px;
    background-color: rgb(241, 107, 62);
    border: none;
    border-radius: 5px;
    color: wheat;
}
.second-card-color{
    background-color: rgb(101, 46, 219);
    height: 500px;
    display: flex;
}
.card-first img{
    height: 400px;
    width: 300px;
    border-radius: 8px;
    margin-top: 100px;
}
.second-card-section{
    padding-top: 50px;
    display: flex;
    gap: 50px;
   
}
.card-third-img img{
    height: 400px;
    width: 300px;
    border-radius: 8px;
}
.card-second-img{
    display: flex;
    gap: 60px;
}
.card-final{
    height: 400px;
    width: 300px;
    border-radius: 8px;
}
.card-second h1{
    margin-top: 60px;
    color: wheat;
}
.card-second p{
    margin-top: 20px;
    margin-bottom: 20px;
    color: wheat;
}
.button-position{
    text-align: center;
    justify-content: center;
    margin-top: 200px;
}
.video-sect{
    background-color: wheat;
    margin-top: 100px;

}
.give-we{
    text-align: center;
    justify-content: center;
    padding-top: 70px;
}
.give-we p{
    color: #898888;
    margin-top: 20px;
    padding-bottom: 60px;
}
.video-cls{
    padding-bottom: 80px;
}
.client-color{
    background-color: #000000;
}
.client-cls{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.client-icon-cls h1{
    color:white;
   
}
.fa-solid{
    font-size: 35px;
    color: rgb(189, 188, 188);
}
.red{
    color: rgb(190, 82, 27);
}
.dwelling-img img{
    height: 70px;
    width: 80px;
    border-radius: 50%;
    margin-top: 20px;
}
.dwelling-para{
    display: flex;
    align-items: center;
    gap: 10px;
}
.joe-root h3{
    color: white;
}
.joe-root p{
    color: white;
    
}
.dwelling-paragraph p{
    color: white;
}
.last-card{
    background-color: wheat;
}
.last-card-flex{
    display: flex;
    gap: 20px;
}
.last-one img{
    height: 400px;
    width: 300px;
    border-radius: 9px;
}
.second-one img{
    height: 400px;
    width: 300px;
    border-radius: 9px;
}
.card-and-paragraph{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 60px;
}
.dream-home{
    margin-top: 70px;
}
.dream-home p{
    margin-top: 20px;
    margin-bottom: 40px;
}
.footer-sect{
    background-color: wheat;
    padding-top: 100px;
    display: flex;
}
.footer-dwelling{
    display: flex;
    align-items: center;
    gap: 7px;
}
.fa-house{
    font-size: 22px;
    color: rgb(255, 98, 0);
}
.footer-p-cls p{
    color: #898888;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-input{
    display: flex;
    align-items: center;
    gap: 20px;
}
.input-email-cls input{
    background-color:wheat ;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px rgb(195, 193, 193) solid;
    
}
.footer-btn-sect{
    display: flex;
    gap: 80px;
}
.footer-flex-direction{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.footer-manu-gap{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer-manu-gap p{
    color: #898888;
}
.footer-icon{
    background-color: wheat;
}
.icon-for-footer{
    font-size: 30px;
}
.fa-facebook{
    color: orangered;
    padding-right: 10px;
}
.fa-linkedin{
    color: blueviolet;
    padding-right:10px;
}
.fa-twitter{
    color: blueviolet;
}
.footer-for-flex{
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
}
.copyright {
    color: #898888;
}



