@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 1200px;
    margin: auto;
}
.nav-bar{
   padding-top: 30px;
   display: flex;
   justify-content: space-between;
   padding-bottom: 30px;
   align-items: center;
   
}
.nav-bar p{
    font-size: 18px;
}
.nav-bar-color{
    background-color:antiquewhite;
}
.icon-cls{
    display: flex;
    gap: 5px;
}
.fa-house-circle-exclamation{
    color: rgb(255, 64, 0);
}
.main-manu ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
}
.nav-bar button{
    padding: 10px 15px;
    background-color: rgb(241, 107, 62);
    border: none;
    border-radius: 5px;
    color: white;
}
.card-sect{
    background-color: antiquewhite;
}
.card-display{
    display: flex;
    justify-content: space-around;
}
.fast-img img{
    border-radius: 8px;
    margin-top: 30px;
    height: 300px;
    width: 250px;
}
.second-img img{
    border-radius: 8px;
    margin-top: 70px;
    height: 300px;
    width: 250px;
}
.home-where{
    margin-top: 60px;
}
.home-where h1{
    font-size: 60px;
}
.home-where p{
    color: #898888;
    margin-top: 30px;
    margin-bottom:90px;
}

.search-container{
    display: flex;
    align-items: center;
   justify-content: space-between;
   padding-bottom: 100px;
   

}

.search-property{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
   
}

.search-field{
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.search-field input{
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
}

.search-field img{
    height: 20px;
}

.btn{
    padding: 10px 15px;
    background-color: rgb(241, 107, 62);
    border: none;
    border-radius: 5px;
    color: white;
}
.mouse-btn{
    text-align: center;

}
.mouse-btn p{
    color: #898888;
    font-size: 15px;
}
.fa-computer-mouse{
    font-size: 25px;
    color: #898888;
}
.mid-sect{
    background-color: rgb(101, 46, 219);
}
.devide-sect{
    display: flex;
    padding-top: 150px;
    justify-content: space-between;
    padding-bottom: 60px;
}
.font-sect{
    font-size: 26px;
    color: wheat;
}
.paragraph-sect{
    color: wheat;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.wow-img-cls img{
    height: 30px;
    width: 40px;
    border-radius: 50%;
}
.wow-img-cls{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.wow-img-cls h2{
    font-size: 30px;
    color: wheat;
}
.wow-cls-peragraph{
    color: wheat;
    font-size: 13px;
}
.wow-cls{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.main-div-emoji-sect{
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}
.Providing-div{
    display: flex;
    justify-content: space-between;
    margin-top: 170px;
    margin-bottom: 100px;
}
.Providing-img img{
    height: 450px;
    width: 500px;
    border-radius: 10px;
}
.Providing-h1-cls p{
    color: #898888;
    margin-top: 20px;
    margin-bottom: 40px;
}
.button{
    padding: 10px 15px;
    background-color: rgb(241, 107, 62);
    border: none;
    border-radius: 5px;
    color: wheat;
}
.second-card-color{
    background-color: rgb(101, 46, 219);
    height: 500px;
}
.card-first img{
    height: 400px;
    width: 300px;
    border-radius: 8px;
    margin-top: 100px;
}
.second-card-section{
    padding-top: 50px;
    display: flex;
    gap: 50px;
   
}
.card-third-img img{

}




